ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.niveau1{
    width: 1550px;
    position: relative;
}

li {
  text-align: center;
  display: block;
  color: black;
  float: left;
  background-color: #f1f1f1;
  width: 500px;
  text-decoration: none;
  border-right: 4px solid #bbb;
}
 
.li:last-child {
  border-right: none;
}

.test:hover {
    background-color: #555;
    color: white;
}

.submenu {
    position: absolute;
}

.o {
    display: none;
    clear: both;
    border-right: none;
    border-bottom: 1px solid black;
}

.o:hover{
    background-color: #555;
    color: white; 
}

.test:hover > ul.submenu > .o{
    display: block;
}