        p {
            margin: 0;
            display: inline;
            position: absolute;
            bottom: 0;
        }

        h1 {
            color: crimson;
            font-size: 20px;
            text-align: center;
        }

        h2 {
            text-align: center;
            font-size: 1vw;
            clear: both;
            margin: 0;
        }
        hr {
            width: 90%;
            height: 2px;
            margin-left: auto;
            margin-right: auto;
            background-color: crimson;
            border: none;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        table {
            width: 97vw;
            height: 80vh;
        }

        td {
            border: 1px solid black;
            background-color: darkorange;
            font-size: 1vw;
            position: relative;
        }
        .invisible{
            border: none;
            background-color: white;
        }
        .mass {
            display: inline;
            position: absolute;
            right: 0;
            top: 0;
        }

        .gaz {
            background-color: aqua;
        }

        .lit-picture{
            display: block;
            width: 10%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
        }
        .green {
            background-color: greenyellow;
        }

        .yellow {
            background-color: yellow;
        }

        .red {
            background-color: crimson;
        }

        .beige{
            background-color: beige;
        }

        .pink {
            background-color: pink;
        }

        .otherpink{
            background-color: deeppink;
        }

        .moche {
            background-color: peru;
        }

        .gris {
            background-color: grey;
        }
        
        .ultramoche {
            background-color: darkslategrey;
        }