        h1 {
            color: crimson;
            text-align: center;
        }

        h2 {
            text-align: center;
            font-size: 1vw;
        }
        hr {
            width: 90%;
            height: 8px;
            margin-left: auto;
            margin-right: auto;
            background-color: crimson;
            border: none;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        table {
            width: 100%;
        }
        td {
            border: 1px solid black;
            background-color: darkorange;
            font-size: 1vw;
        }
        .invisible{
            border: none;
            background-color: white;
        }
        .mass {
            text-align: right;
        }

        .gaz {
            background-color: aqua;
        }

        .lit-picture{
            display: block;
            width: 10%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
        }
        .green {
            background-color: greenyellow;
        }

        .yellow {
            background-color: yellow;
        }

        .red {
            background-color: crimson;
        }

        .beige{
            background-color: beige;
        }

        .pink {
            background-color: pink;
        }

        .otherpink{
            background-color: deeppink;
        }

        .moche {
            background-color: peru;
        }

        .gris {
            background-color: grey;
        }
        
        .ultramoche {
            background-color: darkslategrey;
        }